<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.happyhouse.model.mapper.HouseMapMapper">
	
	<!-- 위경도로 지도 안에 있는 매물 조회 -->
	<select id="getAllHouse" parameterType="map" resultType="HouseInfoDto">
		select * from houseview
		where (lat between #{lat1} and #{lat2})
		and (lng between #{lng1} and #{lng2}) and (replace(recentPrice, ",", "") between #{min} and ${max})
	</select>
	
	<!-- 아파트 전체 거래 조회 -->
	<select id="getHouseDeal" parameterType="String" resultType="HouseDealInfoDTO">
		select * from housedeal where aptCode = #{aptCode} order by dealYear desc, dealMonth desc, dealMonth desc
	</select>
	
</mapper>