<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.BoardMapper">
	<!-- 게시글 전체 조회 -->
	<select id="selectBoard" resultType="BoardDTO">
		select articleno, userid, subject, content, hit, regtime, isNotice
		from board 
		order by isNotice desc
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoardByNo" resultType="BoardDTO">
		select articleno, subject, userid, content, hit, regtime, isNotice
		from board 
		where articleno = #{articleno}
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="BoardDTO">
		insert into board(
			subject, userid, content, isNotice
		) values (
			#{subject}, #{userid}, #{content}, #{isNotice}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="BoardDTO">
		update board 
		   set subject = #{subject}, 
		   	   userid = #{userid}, 
		   	   content = #{content},
		   	   isNotice = #{isNotice}
		 where articleno = #{articleno}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete 
		from board 
		where articleno = #{articleno}
	</delete>

</mapper>

